.checkmark {
  float: right;
  margin-top: 0.9%;
}

.checkmark::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: solid #F2EDE1;
  border-width: 4px 4px 0 0;
  border-radius: 20%;
  transform: skew(-20deg, -20deg);
  transition: all 0.15s ease-in-out;
  margin-right: -2px;
}

.checkmark.submit::after {
  border-radius: 20%;
  transform: rotate(135deg);
  height: 5px;
  border-color: #000;
  margin-top: -1px;
  margin-right: -3px;
  cursor: pointer;
}

.checkmark.go-pick::after {
  border-color: #000;
  cursor: pointer;
}
