.sodium-controller {
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 24px;
  z-index: 10;
}

.sodium-controller.follow {
  top: 1.5px;
  bottom: unset;
}

.sodium-controller button {
  border-color: rgba(256,256,256, 0.5);
}

.sodium-controller button:hover {
  border-color: rgba(256,256,256,1);
}

.sodium-controller:hover + .sodium-panel {
  opacity: 1;
}
