/* General */
.header {
  z-index: 1;
  position: fixed;
  left: 5%;
  top: 10.7px;
  height: 3rem;
  width: 90%;
  transition: all 0.2s ease-in-out;
  transform: translateY(0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header.is-hidden {
  transform: translateY(-120%);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: rgba(70,70,70,0.1);
}

.header.no-animation {
  transition: none;
}

.nav-item {
  display: block;
  color: #586069;
  cursor: pointer;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover, .nav-item.selected, .nav-item:focus {
  color: #24292E !important;
}

/* Left section - Logo as default */
.left-layout {
  margin-bottom: -4.7px;
  color: initial;
}

/* Middle section - Main function as default*/
.middle-layout {
  width: 50%;
}
@media (max-width: 667px) {
  .middle-layout {
    width: 60%;
  }
}
@media (min-width: 769px) {
  .middle-layout {
    width: 400px;
  }
}

/* Middle Section - CompanyListView Customization*/
.header-search {
  position: relative;
  top: -2px;
  cursor: default;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.header-search:focus-within {
  opacity: 1;
}

.header-search:hover {
  opacity: 1;
}

.header-search .fa-search {
  position: absolute;
  top: 6px;
  left: 4px;
  color: #24292E;
}

.header-search .fa-times-circle {
  position: absolute;
  top: 6px;
  right: 4px;
  color: lightgrey;
  transition: all 0.1s ease-in-out;
}

.header-search .fa-times-circle:hover {
  color: darkgrey;
}

.header-search input {
  width: 100%;
  border-color: #24292E;
  border-width: 0 0 1px;
  border-radius: 0;
  outline: 0;
  padding: 7px 24px 7px 27px;
  color: #24292E;
}

::placeholder {
  color: lightgrey;
}

/* Middle Section - RecordsView Customization */
.company-name a {
  font-size: 1rem;
  color: inherit;
  text-decoration: inherit;
}

/* Right Section - Supplementary functions as default */
.right-layout {
  position: relative;
  top: 1px;
}

.right-layout button {
  opacity: 0.444;
}

.right-layout button:hover {
  opacity: 1;
}

.operations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* Right Section - CompanyListView Customization */
.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}

.username:hover .overlay {
  z-index: 1;
  opacity: 1;
}
